<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        div.box {
          width: 100%;
          height: 500px;
          margin-bottom: 5px
        }
        div.left {
          width: 49.9%;
          float: left;
          box-sizing: border-box;
          padding: 10px;
          border: 3px solid #003458;
        }
        div.right {
          width: 49.9%;
          float: right;
          box-sizing: border-box;
          padding: 10px;
          border: 3px solid #003458;
        }
        a {
          margin-right: 10px;
        }
        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 5px 5px;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: gray;
            color: white;
            border-radius: 2px;
        }

        footer {
          text-align: center;
          padding: 3px;
          background-color: darkslategrey;
          color: white;
        }

        main {
          display: flex;
          flex-direction: column;
        }

        span.red {
             color: red;
        }

        span.blue {
             color: blue;
        }
    </style>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<section>
<h1>Axelrod Stock Simulator</h1>
    <main>
<div>
    <div class="box left">
    <table>
        <thead>
        <tr>
            <th> Ticker </th>
            <th> Price </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${stocks.empty}">
            <td colspan="2"> No Stocks Available </td>
        </tr>
        <tr th:each="stock, iStat : ${stocks}">
            <td><a th:href="@{/homepage/stock(ticker=${stock.ticker}, userId=${userId})}"><span th:text="${stock.ticker}"> </span></a></td>
            <td><span th:text="${stock.price}"> </span></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${stocks.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${stockPageNumbers}">
        <a th:if="${userId == null}" th:href="@{/homepage(pfPage=${pfCurrentPage}, stockPage=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==stocks.number + 1} ? active"></a>
        <a th:if="${userId != null}" th:href="@{/homepage(userId=${userId}, pfPage=${pfCurrentPage}, stockPage=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==stocks.number + 1} ? active"></a>
    </div>
        <br>
    <a href="/homepage/create">Create Stock</a>
        <div hidden>
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
    <div class="box right">
        <table>
            <thead>
            <tr>
                <th> Username </th>
                <th> email </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${players.empty}">
                <td colspan="2"> No Stocks Available </td>
            </tr>
            <tr th:each="player : ${players}">
                <td><span th:text="${player.username}"> </span></td>
                <td><span th:text="${player.email}"> </span></td>
            </tr>
            </tbody>
        </table>
        <a href="/homepage/player/create">Create Player</a>
    </div>
</div>
<div>
    <div th:if="${userId == null}" class="box left">
        <h3>Login</h3>
        <form action="#" th:action="@{/homepage/login}" th:object="${user}" method="post">
            <p>Username: <input type="text" th:field="*{username}" /></p>
            <p>Password: <input type="text" th:field="*{password}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    <div th:if="${userId != null}" class="box left">
        <div class="left" style="border:0px">
            <h3 th:text="'Hello ' + ${userId} + '!'"></h3>
            <p><a th:href="'/homepage/buy?userId=' + ${userId}">Buy Stock</a><a th:href="'/homepage/sell?userId=' + ${userId}">Sell Stock</a></p>
            <table>
                <thead>
                    <tr><th style="text-align: left">Account Number</th><th style="text-align: left">Balance</th></tr>
                </thead>
                <tbody>
                    <tr th:each="account: ${accounts}">
                        <td><span th:text="${account.accountNum}"></span></td><td><span th:text="${account.balance}"></span></td>
                        <td><a th:href="'/homepage/deposit?userId=' + ${userId} + '&accountNum=' + ${account.accountNum}">Add balance</a></td>
                        <td><a th:href="'/homepage/withdrawal?userId=' + ${userId} + '&accountNum=' + ${account.accountNum}">Withdraw balance</a></td>
                    </tr>
                </tbody>
            </table>
            <p><a th:href="'/homepage/create/account?userId=' + ${userId}">Create Account</a><a href="/homepage/logout">Log Out</a></p>
        </div>
        <div class="right" style="height:100%; border:0px;">
            <table style="margin:auto; width:100%">
                <caption><b>User Portfolio</b></caption>
                <thead>
                <tr>
                    <th> StockId </th>
                    <th> Quantity </th>
                    <th> Current Price </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${portfolios.empty}">
                    <td colspan="4"> No Portfolios </td>
                </tr>
                <tr th:each="pf : ${portfolios}">
                    <td><span th:text="${pf.ticker}"> </span></td>
                    <td><span th:text="${pf.quantity}"> </span></td>
                    <td>
                        <span th:if="${pf.stockCurrentPrice} > ${pf.myAvgPrice}" th:text="${pf.stockCurrentPrice} + '  ( ' + ${pf.myAvgPrice}"> </span> <span th:if="${pf.stockCurrentPrice} > ${pf.myAvgPrice}" th:class="red" th:text="' +' + ${pf.differencePercent}"></span>
                        <span th:if="${pf.stockCurrentPrice} < ${pf.myAvgPrice}" th:text="${pf.stockCurrentPrice} + '  ( ' + ${pf.myAvgPrice}"> </span> <span th:if="${pf.stockCurrentPrice} < ${pf.myAvgPrice}" th:class="blue" th:text="' -' + ${pf.differencePercent}"></span>
                        <span th:if="${pf.stockCurrentPrice} == ${pf.myAvgPrice}" th:text="${pf.stockCurrentPrice} + '  ( ' + ${pf.myAvgPrice} + ' 0.0%'"> </span>
                        <span> )</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${portfolios.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${portfolioPageNumbers}">
                <a th:if="${userId == null}" th:href="@{/homepage(pfPage=${pageNumber}, stockPage=${stockCurrentPage})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==portfolios.number + 1} ? active"></a>
                <a th:if="${userId != null}" th:href="@{/homepage(userId=${userId}, pfPage=${pageNumber}, stockPage=${stockCurrentPage})}"
                   th:text=${pageNumber}
                   th:class="${pageNumber==portfolios.number + 1} ? active"></a>
            </div>
        </div>
    </div>
    <div class="box right">
        <div class="left" style="border:0px;">
            <table style="margin:auto; width:90%">
                <caption><b>Current Buy Order</b></caption>
                <thead>
                <tr>
                    <th> Ticker </th>
                    <th> Quantity </th>
                    <th> Price </th>
                    <th> Player </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${buyOrderList.empty}">
                    <td colspan="4" style="text-align:center;"> No Buy Order </td>
                </tr>
                <tr th:each="order : ${buyOrderList}">
                    <td><span th:text="${order.ticker}"> </span></td>
                    <td><span th:text="${order.quantity}"> </span></td>
                    <td><span th:text="${order.price}"> </span></td>
                    <td><span th:text="${order.playerId}"> </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="right" style="border:0px;">
            <table style="margin:auto; width:90%">
                <caption><b>Current Sell Order</b></caption>
                <thead>
                <tr>
                    <th> Ticker </th>
                    <th> Quantity </th>
                    <th> Price </th>
                    <th> Player </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${sellOrderList.empty}">
                    <td colspan="4" style="text-align:center;"> No Sell Order </td>
                </tr>
                <tr th:each="order : ${sellOrderList}">
                    <td><span th:text="${order.ticker}"> </span></td>
                    <td><span th:text="${order.quantity}"> </span></td>
                    <td><span th:text="${order.price}"> </span></td>
                    <td><span th:text="${order.playerId}"> </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const xValues = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];

    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor:"rgba(255,0,0,1.0)",
          borderColor: "rgba(255,0,0,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
</script>
    </main>
    <footer>
        <p>Developer: Sangyoon Kim<br>
            Email : <a href="projectaxelrod@gmail.com">projectaxelrod@gmail.com</a><br>
            Github : <a href="sangyun004@github.com">sangyun004@github.com</a></p>
    </footer>
</section>

</body>
</html>