<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=" ${type} + ' Stock Form'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1  th:text=" ${type} + ' Stock Form'"></h1>
<form action="#" th:action="'/homepage/' + ${type}" th:object="${order}" method="post">
    <p><input hidden type="text" name="playerId" th:value="${userId}"/></p>
    <p>Ticker: <input type="text" th:field="*{ticker}" /></p>
    <p>quantity: <input type="number" th:field="*{quantity}" /></p>
    <p>price: <input type="text" th:field="*{price}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>